<div class="container-lists">
  <h1>All my lists</h1>
  <% if @lists.length == 0 %>
    <p>You haven't created any lists yet. Let's start by creating one.</p>
  <% else %>
    <div class="grid-lists">
      <% @lists.each do |list| %>
        <div class="card-lists" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(list.photos.key) %>)">
          <%= link_to list.name, list_path(list), class:"a-lists" %>
          <%= link_to 'x', list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-button" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'Create a new List', new_list_path, class: "button-lists" %>
</div>
