<h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p>

<%= simple_form_for [@list] do |f| %>
  <%= f.input :name %>
  <%= f.submit "Submit new List", class: "btn btn-primary" %>
<% end %>
