<h1>Bookmarks#delete</h1>
<p>Find me in app/views/bookmarks/delete.html.erb</p>


<h1>Are you sure you want to delete this bookmark?</h1>
<%= link_to 'Delete', @bookmark, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
