.banner {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.image-railsy-baloon {
  position: relative; /* Make this element the reference for absolutely positioned children */
}

.image-railsy-baloon img {
  width: 500px;
  height: 400px;
  animation: pulse 2s infinite;
}

.image-railsy-baloon h4 {
  position: absolute;
  top: 23%;
  left: 25%;
  width: 18rem;
  border-radius: 50%;
  color: black;
  background-color: white;
  animation: pulse 2s infinite;
}
