.banner {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#hello-user {
  position: absolute;
  top: 28%;
  left: 25%;
}

.image-railsy-baloon {
  position: relative; /* Make this element the reference for absolutely positioned children */
}

.image-railsy-baloon img {
  width: 500px;
  height: 400px;
  animation: pulse 2s infinite;
}

.image-railsy-baloon h4 {
  position: absolute;
  top: 23%;
  left: 25%;
  width: 18rem;
  border-radius: 50%;
  color: black;
  background-color: white;
  animation: pulse 2s infinite;
}


// responsive

@media (max-width: 768px) {

  .banner {
    display: wrap;
  }

  #railsy {
    margin-top: 5rem;
    height: 8rem;
    width: 8rem;
  }

  #hello-user {
    font-size: 1rem;
    width: 6rem;
    top: 30%;
    left: 25%;
  }

  .image-railsy-baloon img {
    width: 14rem;
    height: 14rem;
  }

  .image-railsy-baloon h4 {
    font-size: 0.7rem;
    height: 5rem;
    width: 10rem;
    left: 50%;
    top: 30%;
    left: 20%;
  }

}
